<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat with GPT-3.5</title>
    <link rel="stylesheet" href="static/assets/bootstrap.min.css">
    <script type="text/javascript" src="static/assets/bootstrap.min.js"></script>
</head>
<body style="background-color: #db9807; background-image: url('static/images/background.jpg'); ">
    <section >
        <div class="container py-5" style="background:#fff;opacity:.93;border-radius:5px;margin-top:15px;">
      
          <div class="row">
            <div class="col-md-12 col-lg-12 col-xl-12">
      
              <ul class="list-unstyled" id="chat-display">
                <li class="d-flex justify-content-between mb-4">
                  <img src="static/images/logo-focos.png" alt="avatar"
                    class="rounded-circle d-flex align-self-start me-3 shadow-1-strong" width="60">
                  <div class="card">
                    <div class="card-header d-flex justify-content-between p-3">
                      <p class="fw-bold mb-0">Equipe queimadas</p>
                      <p class="text-muted small mb-0"><i class="far fa-clock"></i> </p>
                    </div>
                    <div class="card-body">
                      <p class="mb-0">
                        Ola eu sou o Heldinho, seu assistente sobre o INPE queimadas, em que posso ajudar ?
                      </p>
                    </div>
                  </div>
                </li>
                <li class="bg-white mb-3">
                  <div data-mdb-input-init class="form-outline">
                    <textarea class="form-control" id="textAreaExample2" rows="4"></textarea>
                  </div>
                </li>
                <button onclick="sendMessage()" type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-warning btn-rounded float-end">Enviar</button>
              </ul>
            </div>
          </div>
        </div>
      </section>
    
    <script>
    
      const mensagens = [];

      function saveMessage(user, pergunta){
        var mensagem = new Object();
        mensagem.role = user;
        mensagem.content = pergunta;
        mensagens.push(mensagem);
      }

      document.addEventListener('keypress', function(event) {
        if (event.key === 'Enter') {
          sendMessage();
        }
      });

      function sendMessage(){
        var userInput = document.getElementById('textAreaExample2').value;
        var chatDisplay = document.getElementById('chat-display');

        currentDisplay = chatDisplay.innerHTML;

        chatDisplay.innerHTML = "<li class='d-flex justify-content-between mb-4'><div class='card w-100'><div class='card-header d-flex justify-content-between p-3'><p class='fw-bold mb-0'></p><p class='text-muted small mb-0'><i class='far fa-clock'></i> 13 mins ago</p></div><div class='card-body'><p class='mb-0'>" + userInput + "</p></div></div><img src='static/images/user-icon.png' alt='avatar'class='rounded-circle d-flex align-self-start ms-3 shadow-1-strong' width='60'></li>";            
        chatDisplay.innerHTML += currentDisplay;

        saveMessage('user', userInput);
            
        // Faça uma solicitação POST para obter a resposta do servidor Flask
        fetch('/get-response', {
          method: 'POST',
          headers: {'Content-Type': 'application/x-www-form-urlencoded',}, 
            body: 'user_message=' + JSON.stringify(mensagens)
          })
          .then(response => response.text())
          .then(data => {
            currentDisplay = chatDisplay.innerHTML;
            chatDisplay.innerHTML = "<li class='d-flex justify-content-between mb-4'><img src='static/images/logo-focos.png' alt='avatar' class='rounded-circle d-flex align-self-start me-3 shadow-1-strong' width='60'><div class='card'><div class='card-header d-flex justify-content-between p-3'><p class='fw-bold mb-0'>Equipe queimadas</p><p class='text-muted small mb-0'><i class='far fa-clock'></i> 12 mins ago</p></div><div class='card-body'><p class='mb-0'>"+data+"</p></div></div></li>";
            chatDisplay.innerHTML += currentDisplay;

            saveMessage('assistant', data);
          });
      }
    </script>
</body>
</html>
